body{
    padding: 0%;
    margin: 0%;
    background-color: #006517;
}

section, div, h1, h2{
    text-align: center;
    color: #1EFF53;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    color: #72FF93;
    background-color: #0C4D07;
}

#story{
    color: #FF0101;
    font-size: 2em;
}